:root {
  --primary: #fff;
  --bg: #0f1035;
  --secondbg: #365486;
  --secondprimary: #7fc7d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "poopins", sans-serif;
  background-color: var(--bg);
  color: var(--primary);
  /* min-height: 5000px; */
}
/* navbar */
.navbar {
  background-image: linear-gradient(
    to bottom,
    var(--bg),
    rgba(255, 255, 255, 0)
  ); /* Menggunakan RGBA untuk transparansi */

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.9rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}
.navbar .navbar-nav a {
  color: var(--primary);
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
  color: var(--primary);
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: var(--primary);
  margin: 0 0.5rem;
}
.navbar .navbar-extra a :hover {
  color: var(--primary);
}
#hamburger-menu {
  display: none;
}
/* hero section start */
.hero {
  min-height: 60vh;
  display: flex;
  align-items: center;
  background-image: url("img/header-bg1.jpg");
  background-size: cover; /* Menyesuaikan ukuran gambar agar mencakup area elemen */
  background-position: center; /* Menentukan posisi gambar */
  background-repeat: no-repeat; /* Menghindari pengulangan gambar */
  position: relative;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
}

.hero .content {
  padding: 1.4rem 7%;
  /* max-width: 100rem; */
  width: 100%;
  text-align: center;
  position: absolute;
  top: 150px;
}

.hero .content h1 {
  font-size: 3em;
  color: var(--primary);
  text-shadow: 2px 2px 4px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
  text-align: center;
}
.hero .content h1 span {
  color: var(--secondprimary);
}
/* about section*/
.about,
.menu,
.products,
.contact {
  padding: 8rem 7% 1.4rem;
}

.menu h2,
.products h2,
.contact h2 {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.menu h2 span,
.contact h2 span {
  color: var(--primary);
}
.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}
.about .row .about-img img {
  width: 95%;
  border: 20px solid var(--secondprimary);
  border-radius: 30%;
}
.about .row .content {
  flex: 1 1 60rem;
  padding: 0 2rem;
  background-color: var(--secondprimary);
  border-radius: 10px;
}
.about .row .content h3 {
  margin-top: 2rem;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  line-height: 2.1;
  font-weight: lighter;
}
.about .row .content a {
  color: var(--secondbg);
  font-style: italic;
  margin-bottom: 1rem;
}
/* about 2 */
.about2,
.menu,
.products,
.contact {
  padding: 8rem 7% 1.4rem;
}

.menu h2,
.products h2,
.contact h2 {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.menu h2 span,
.contact h2 span {
  color: var(--primary);
}
.about2 .row {
  display: flex;
}

.about2 .row .about-img {
  flex: 1 1 45rem;
}
.about2 .row .about-img img {
  width: 95%;
  border: 20px solid var(--secondprimary);
  border-radius: 30%;
}
.about2 .row .content {
  flex: 1 1 60rem;
  padding: 0 2rem;
  background-color: var(--secondprimary);
  border-radius: 10px;
  margin-right: 2rem;
}
.about2 .row .content h3 {
  margin-top: 2rem;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.about2 .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  line-height: 2.1;
  font-weight: lighter;
}
.about2 .row .content a {
  color: var(--secondbg);
  font-style: italic;
  margin-bottom: 1rem;
}
/* footer */
footer {
  background-color: var(--secondprimary);
  text-align: center;
  padding: 1rem 0 1.5rem;
  margin-top: 3rem;
}
footer .socials {
  padding: 1rem 0;
}
footer .socials a {
  color: #fff;
  margin: 1rem;
}
footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}
footer .links {
  margin-bottom: 1.4;
}
footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}
footer .credit {
  font-size: 0.8rem;
}
footer .credit a {
  color: var(--bg);
  font-weight: 700;
}
/* message button */
.fixed-button {
  position: fixed;
  bottom: 5rem;
  left: 5rem;
  background-color: var(--secondbg);
  color: #fff;
  border: 1px solid var(--primary);
  border-radius: 50%;
  padding: 1.3rem 1.8rem;
  font-size: 32px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fixed-button:hover {
  background-color: var(--secondprimary);
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.fixed-button {
  /* ... */
  animation: pulse 4s infinite;
}

/* media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
  }
  .about .row .content {
    padding: 0;
    margin-top: 1rem;
  }
  .about .row .content h3 {
    margin-top: 1.8rem;
    font-size: 2rem;
    padding: 0rem 1rem;
  }
  .about .row .content p {
    font-size: 1.6rem;
    padding: 1rem 1rem;
  }
  .about .row .content a {
    padding: 0rem 1rem;
  }
  /* about2 */
  .about2 .row {
    flex-wrap: wrap;
  }
  .about2 .row .about-img img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
  }
  .about2 .row .content {
    padding: 0;
    margin-top: 1rem;
  }
  .about2 .row .content h3 {
    margin-top: 1.8rem;
    font-size: 2rem;
    padding: 0rem 1rem;
  }
  .about2 .row .content p {
    font-size: 1.6rem;
    padding: 1rem 1rem;
  }
  .about2 .row .content a {
    padding: 0rem 1rem;
  }
  .menu .menu-card {
    margin-right: 2.7rem;
  }
  .menu p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 0;
  }
  .hero .content .cta {
    background-color: #6579a5;
  }
}

/* mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
